<%- include('header') -%>

<li class="backButton"><a href="/"><</a></li>
<form class="form" method="post" action="/form">
  <!-- Flokkaval -->
  <div class="flokkaval">
    <label for="spurningaflokkur">Veldu flokk</label>
    <select id="spurningaflokkur" name="spurningaflokkur">
    <option value="html">HTML</option>
    <option value="css">CSS</option>
    <option value="javascript">Javascript</option>
  </select>
  </div>

  <!-- Spurning -->
  <div class="spurning">
    <label for="name">Spurning</label>
    <textarea id="questionInput" name="name" rows="5" required></textarea>
  </div>

  <!-- Svarmöguleikar -->
   <div class="svarmoguleikar">
      <label for="answers">Svarmöguleikar</label>
      <div id="answers">
        <input type="text" name="svar-texti" class="svar-texti" placeholder="Svar..." required>
        <input type="radio" name="rett_svar" value="0" class="rett-radio"> Rétt?
      </div>
   </div>
   <button type="button" id="add-answer" class="addAnswerButton">Bæta við svarmöguleika</button>

   <!-- Svartakki-->
  <button class="formButton" type="submit">Búa til spurningu</button>
</form>

<%- include('footer') -%>