<!doctype html>
<html lang="is">

<head>
  <meta charset="utf-8">
  <title><%= locals.title ?? '' %> — Spurningavefurinn</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <main id="main">

    <header>
      <h1 class="title"><%= locals.title ?? '' %></h1>
    </header>