<!doctype html>
<html lang="is">

<head>
  <meta charset="utf-8">
  <title><%= locals.title ?? '' %> — Spurningavefurinn</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <main id="main">
    <header class="header">
      <% if (categoryName || form) { %>
        <div class="quiz-header">
          <a href="/" class="back-button"><p><</p></a>
          <h1 class="quiz-title"><%= categoryName ?? locals.title ?? '' %></h1>
        </div>
      <% } else { %>
        <h1 class="title"><%= locals.title ?? '' %></h1>
      <% } %>
    </header>