<%- include('header') -%>

<div class="category-section">
  <p class="small-title">Veldu flokk:</p>
  <ul class="categories">
    <% for (const category of categories) { %>
      <a href="/<%=category.name%>"><li class="category"><%=category.name%></li></a>
    <% } %>
  </ul>
</div>
<a href="/form" class="formButton">Bæta við spurningu</button>

<%- include('footer') -%>
